#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.div { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  


}
#pokemon-info img { 
  width: 12rem;
  height: 120px;
  
  
}
#pokemon-info img:hover { 
   
   transform: scale(1.1);
   transition: 0.7s;
   transition: translateY(2);
  
}

@media only screen and (max-width: 768px) {
  #pokemon-info img { 
    width: 12rem;
    height: 120px;
    
    
  }  
}
.button-pokemon { 

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
} 

.card { 

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  


}

.container { 

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 176, 92);
}